* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pa1 {
    margin: 0;
}
.title1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gore1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-bottom: 5%;
    background-color: white;
    gap: 40px;
}
.in1 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.h-1 {
    padding-top: 3%;
}

@media (max-width: 820px) {
    .h-1 {
        font-size: 25px;
    }
    .in1 {
        width: 100%;
        height: 100%;
        gap: 100px;
        background-color: red;
    }
    .gore1 {
        padding: 50px;
    }
}
@media (max-width: 392px) {
    .h-1 {
        font-size: 20px;
    }
}

h4 {
    letter-spacing: 2px;
}
